/* Place your CSS here */

.loadingMessage {
	text-align: center;
	font-size: 24pt;	
}

.instructions {
	font-size: 12pt;
}

.outro {
	font-size: 12pt;
}

.leftAlign {
	float: left;
	clear: left;
}

.riteAlign {
	float: right;
	clear: right;
}

.dislike {
	background-image: url("http://i.imgur.com/L57nuxY.png");
}

.like {
	background-image: url("http://i.imgur.com/b8HvqXN.png");
}

.tindrBtn {
	background-size: cover;
	margin: 10px;
	width: 100px;
	height: 100px;
}

.tindrBtnLbl {
	font-size: 10pt;
}

.profileArea {
	text-align: center;
}

.profilePicture {
	height: 320px;
	margin-left: auto;
	margin-right: auto;
}

.profileName {
	font-size: 24pt;	
	margin: 24px 0 16px 0;
}

.profileDesc {
	font-size: 16pt;
	margin: 16px;
}

.hidden {
	display: none;
}
