/* Place your CSS here */

.prime_instructions {
	font-size: 12pt;
}

.prime_keyHeader {
	font-size: 24pt;
	font-weight: bold;
}

.prime_keyDescription {
	font-size: 18pt;
}

.prime_displayTextWrapper {
	clear: both;
	height: 72px;
	vertical-align: middle;
}

.prime_displayText {
	font-size: 48pt;
	text-align: center;
}

.prime_wrong {
	clear: both;
	text-align: center;
	font-size: 36pt;
}

.prime_colorWrong {
	color: Red;
}

.leftAlign {
	float: left;
	clear: left;
}

.riteAlign {
	float: right;
	clear: right;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}
