/* Place your CSS here */

.questionContainer {
	height: 540px;
	padding: 12px;
	color: white;
	background-color: Black;
}

.loadingMessage {
	font-size: 24pt;
}

.instructions {
	margin: 40px 12px 12px 12px;
	font-size: 12pt;
	clear: both;
}

.keyText {
	font-size: 10pt;
	margin-bottom: 8px;
}

.persistentInstructions {
	text-align: center;
}

.outro {
	font-size: 16px;
	text-align: center;
	clear: both;
}

.testArea {
	clear: both;
}

.catHeader {
	height: 160px;
}

.leftAlign {
	float: left;
	clear: left;
}

.riteAlign {
	float: right;
	clear: right;
}

.or {
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 12px;
}

.catLabel {
	font-size: 24pt;	
}

.colorCatTop {
	color: LimeGreen;
}

.colorCatBot {
	color: Aqua;
}

.testImage {
	max-width: 160px;
	max-height: 120px;
	margin: 0;
}

.promptTable {
	display: table;
	height: 120px;
	padding: 32px;
	margin: 0 auto;
}

.promptCell {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.prompt {
    text-align: center;
	font-size: 32pt;
}

.wrong {
	clear: both;
	text-align: center;
	font-size: 32pt;
}

.colorWrong {
	color: Red;
}

.hidden {
	display: none;
}
