/* Place your CSS here */

.race_questionContainer {
	height: 540px;
	padding: 12px;
	color: white;
	background-color: Black;
}

.race_loadingMessage {
	font-size: 24pt;
}

.race_instructions {
	margin: 40px 12px 12px 12px;
	font-size: 12pt;
	clear: both;
}

.race_keyText {
	font-size: 10pt;
	margin-bottom: 8px;
}

.race_persistentInstructions {
	text-align: center;
}

.race_outro {
	font-size: 16px;
	text-align: center;
	clear: both;
}

.race_testArea {
	clear: both;
}

.race_catHeader {
	height: 160px;
}

.race_or {
	font-size: 16pt;
	margin-top: 12px;
	margin-bottom: 12px;
}

.race_catLabel {
	font-size: 24pt;	
}

.race_colorCatTop {
	color: LimeGreen;
}

.race_colorCatBot {
	color: Aqua;
}

.race_testImage {
	max-width: 160px;
	max-height: 120px;
	margin: 0;
}

.race_promptTable {
	display: table;
	height: 120px;
	padding: 32px;
	margin: 0 auto;
}

.race_promptCell {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.race_prompt {
    text-align: center;
	font-size: 32pt;
}

.race_wrong {
	clear: both;
	text-align: center;
	font-size: 32pt;
}

.race_colorWrong {
	color: Red;
}

.leftAlign {
	float: left;
	clear: left;
}

.riteAlign {
	float: right;
	clear: right;
}

.hidden {
	display: none;
}
